*,
*::after,
*::before{
    box-sizing: border-box;
}
.body{
    margin:2vw 5vw 2vw 5vw;
    background-color: #2f2f2f;
}
.searchbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #f5f5f5;
    padding: 10px 12px;
    border-radius: 5px;
    border: 1px solid #ddd;
    width: 100%;
}

.searchbar input[type="text"] {
    flex: 1;
    padding: 5px 10px;
    border:5px;
    border-color: #a5a5a5;
    border-radius:10px;
    outline:none;
    margin-right:30px;
}

.logo{
    width: 91px;
    height: fit-content;
    margin-right: 10px;
    margin-left: 10px;
}
.searchbutton{
        background-color:#07689F;
        color: #fff;
        border: none;
        border-radius: 4px;
        padding: 8px 16px;
        cursor: pointer;
        margin-right: 20px;
}
.searchbutton:hover{
    cursor: pointer;
    background-color: #053a7a;
}

.smallicon{
    margin-right:10px;
    margin-left:10px;
}
.center{
    display:flex;
    justify-content:space-evenly;
    align-items: center;
}
.Style{
    list-style:none;
    padding: 0;
    display: flex;;
}
.buttonsheader{
    background-color: #efefef;
    color: #2f2f2f;
    border:#2f2f2f;
    border-radius: 20px;
    padding: 8px 16px;
    cursor: pointer;
    margin-right: 20px;
    margin-left: 20px;
}
.buttonsheader:hover{
    background-color: #07689F;
    color:#f5f5f5;
}
.page {
    display: flex;
    flex-direction:row;
    background-color: #afafaf;
    max-width:1400px; 
    margin: 20px auto; 
    ;
}
.left {
    flex:1;
    width:50%;
    position:relative;
    height:auto;
    padding : 20px;
    flex-direction: row;
}
.right{
    flex:2;
    width:50%;
    position:relative;
    height:auto;
    margin-left: 20px;
    padding : 20px;
    flex-direction: row;
}
.cards{
    padding:20px;
    background-color: #ffffff;
    border-radius: 20px;
    border-color: 1px solid #3f3f3f;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    margin:20px 80px 20px 80px;
    width:1400;
    height:auto;
    justify-content: center;
    flex-wrap:wrap;

}
.images{
    padding: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display:flex;
    flex-direction:column;
}
.images img{
    flex:1;
    max-width:100%;
    object-fit: contain;
    border-radius: 8px;
    margin-bottom: 10px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}
.content{
    float:left;
    width:100%;
    position: relative;
}
    
.selectbox{
    align:right;
    width:200px;
    height: 20px;
    border-radius: 5px;
}
.option{
    align:right;
}
.user{
    display: flex;
    align-items: center;
    max-width: 400px;
    padding: 20px;
    border-radius: 8px;
}
.userimage{
      width: 100px;
      height: 100px;
      border-radius: 50%;
      margin-right: 20px;
      overflow: hidden;
}
.userimage img{
      width: 100%;
      height: 100%;
      object-fit: contain;
}
.useraccount{
    flex-grow: 1;
  }

  .username {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5px;
    margin-right:30px;
  }
  .booking{
    align-items:right;
    background-color: transparent;
    color: #07689F;
    border:1px solid #07689F;
    border-radius: 4px;
    width:50%;
    padding: 5px;
    box-sizing: border-box;
    margin-left: 20px;
  }
  .formcontainer{
    display:flex;
  }
  .option{
    align-items:right;
    background-color: transparent;
    border:1px solid #3f3f3f;
    border-radius: 4px;
    width:20%;
    height:10%;
    box-sizing: border-box;
    margin-right: 20px;
    margin-left: 10px;

  }
  .Shortcutbutton{
    width:200px;
    height:60px;
    padding: 8px;
    text-align: center;
    display: flex;
    justify-content: center;
    margin-left: 20%;
    border-radius: 4px;
    border: 1px;
    gap: 8px;
    margin: 10px 10px 10px;
    background-image:linear-gradient(to bottom,#a5a5a5,#3f3f3f);
    border: 1px solid #a5a5a5;
    color: #efefef;
    display:block;

  }
  .payment{
        width:200px;
        height:60px;
        padding: 8px;
        border-radius: 4px;
        text-align: center;
        display: flex;
        justify-content: center;
        margin-right: 25%;
        border-radius: 4px;
        border: 1px;
        gap: 8px;
        margin: 10px 10px 10px;
        background-image:linear-gradient(to bottom, #07689F,#164765);
        border: 1px solid #07689F;
        color:#efefef;
        display:block;
    
  }
  .contentblue{
    color:#07689F;
    display: flex; 
    justify-content: center;
  }
  .contentgray{
    color:#9f9f9f;
    display: flex;
    justify-content: center;
  }
  .Styles{
    list-style:none;
    line-height: 1.2;
    display: flex;
    flex-direction: column;
}
.abovefooter{
    background-color: #efefef;
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.footer{
    background-color: #9f9f9f;
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding:5%;
    width:100%;
    height:fit-content;
}
.greyfooter{
    background-color: #0f0f0f;
}
.bankformcontainer{
    display:flex;

}
.flex{
    display:flex;
    justify-content: center;
}
.paymentoptions{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width:80%;
    gap: 15px;
}
.paymentbox{
    width:85%;
    color:#0f0f0f;
    background-color: #fff;
    border-color: 1 px solid #0f0f0f;
}
.paymentbox text{
    display:flex;
    justify-content: space-between;
}
.selectbox{
    width:80px;
    height:20px
}
@media(max-width: 1200px){
    .bankformcontainer{
        flex-direction:column;
        gap:20px;
    }
    .Shortcutbutton,.payment{
        display:flex;
        justify-content: center;
        align-content: center;
        text-align: center;
    }
    .contentblue,.flex{
        display:flex;
        justify-content: center;
    }
    .paymentoptions{
        display: flex;
        align-items: center;
        justify-content: center;
        width:100%;
    }
    .left,.right {
        position:relative;
        height:auto;
        width:100%;
        justify-content: center;
        flex-direction:column;
        align-items: center;
        margin: 20px;
        ;
    }
    .p1{
        justify-content: center;
        align-items: center;
    }
    .paymentbox{
        justify-content: center;
        align-items: center;
        width:100%;

    }
    .cards{
        padding:20px;
        background-color: #ffffff;
        border-radius: 20px;
        border-color: 1px solid #3f3f3f;
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
        margin:20px 80px 20px 80px;
        width:1400;
        height:auto;
        justify-content: center;
        flex-direction: column;
        align-items:center;
        text-align: center;
        
    }
    .formcontainer{
        display:flex;
        justify-content: center;
        align-items: center;}

    .contentgray{
            color:#9f9f9f;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-right: 50px;
            margin-left: 50px;
        }
        .footer{
            background-color: #9f9f9f;
            display:flex;
            flex-direction: row;
            justify-content: space-evenly;
            padding:5%;
            gap:5%;
            width:100%;
            height:fit-content;
        }
        
    
}
